
:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	/* #FF787C  #00BFFF*/
	--light: #F9F9F9;
  --light-white: ;
	--blue:#f66962;
	--light-blue: #F5D7D8;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

span .span{
    font-size:22px;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
  --light-white:#342E37;
	--dark: #FBFBFB;
	--blue: #e16e3d;

}

body{
  background:var(--grey);
}
  .container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: var(--light-white);
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  }
  .container .registration{
    display: none;
  }
  #check:checked ~ .registration{
    display: block;
  }
  #check:checked ~ .login{
    display: none;
  }
  #check{
    display: none;
  }
  .container .form{
    padding: 2rem;
  }
  .form header{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
  }
   .form input{
     height: 60px;
     width: 100%;
     padding: 0 15px;
     font-size: 17px;
     margin-bottom: 1.3rem;
     border: 1px solid var(--light);
     border-radius: 6px;
     outline: none;
   }
   .form input:focus{
     box-shadow: 0 1px 0 rgba(0,0,0,0.2);
   }
  .form a{
    font-size: 16px;
    color: var(--blue);
    text-decoration: none;
  }
  .form a:hover{
    text-decoration: underline;
  }
  .form input.button{
    color: var(--light);
    background: var(--blue);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
  }
  .form input.button:hover{
    background: var(--dark);
  }
  